@charset "utf-8";

table {
  border-collapse: collapse;
}

th {
  font-weight: normal;
  background: #eee;
}

th,
td {
  padding: 4px;
  border: 1px solid;
}

th:nth-child(1) {
  width: 180px;
}

th:nth-child(2) {
  width: 180px;
}

td:nth-child(2) {
  text-align: right;
}

tr:last-child {
  font-weight: bold;
}

input[type="checkbox"] {
  margin-right: 8px;
}